{{ $baseurl := .Site.BaseURL }}
<article class="post {{ .Section }}">
    <section class="post-excerpt">
      <p>
          <section class="post-content">
            {{ .Content }}
          </section>
      </p>
      <!--
        {{ .Summary }} <a class="read-more" href="{{.RelPermalink}}">&raquo;</a></p>
      -->
    </section>
    <!-- <footer class="post-meta">
        {{if .Site.Params.logo }}
            <img class="author-thumb" src="{{ .Site.BaseURL }}{{.Site.Params.logo}}" alt="Author image" nopin="nopin" />
        {{end}}
    </footer> -->
</article>
